:root {
  /*--accent: #01ace9;
  --background: #101414;
  --text:
  */
  --accent: #048A81;

  --background: #F4F4ED;
  

  /*--text:#252422;*/
  --text:#353535;

}
*{
	box-sizing: border-box;
	margin: 0px;
	padding:0px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
	text-decoration:none;
}

html, body{
	font-family: 'Roboto Mono';

	font-weight: 300;
	background-color:var(--background);
} body{
	overflow-x:hidden;
}
header{
	height: 100vh;
	width: 100vw;
	
}

canvas {
	width: 100%;
	height: 100%;
	display:block;

}
.section-about{
	background-image: linear-gradient(rgba(244,224,237, 0.75), rgba(244,244,237, 0.75)),url("img/nj-statehouse.jpg");
	/*background-image: linear-gradient(rgba(244,224,237, 0.7), rgba(244,244,237, 0.7)),url("img/nj-statehouse.jpg");
	*/min-height:100vh;
	background-position:center;
}

p{
	color:var(--text);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--background); 
}
 
::-webkit-scrollbar-thumb {
  background: var(--accent); 
}

h2 {
	color: var(--accent);
	text-align: center;
	font-weight: 300;
	margin-top: .5rem;
	padding-top: 1rem;
}
.pfp{
	display: block;
	margin-left:auto;
	margin-right: auto;
	height:10rem;
}
.about-me-text{
    width:60%;
    margin-right: auto;
    margin-left:auto; }
.section-about{
    padding-top: 4rem;
}
.section-skills{
	min-height:100vh;
	min-width: 100vw;
	background-position:center;
}
.col-4 p{
	text-align: left;
}

h3{
	text-align: center;
	color:var(--accent);
	padding-bottom: 1rem;
}
.skills-sentence{
	text-align: center;
}
.row{
	padding-top: 2em;
}
ion-icon{
	font-size: 50px;
	color:var(--accent);
	padding-left:42%;
	padding-right: auto;
}
.reviews{
	min-height:50vh;
}
.reviews div{
	margin-left:auto;
	margin-right:auto;
	width:60%
}
.reviews div p{
	text-align:center;
	padding-top: 13%;

}
.wrap{
	color:var(--accent);
	font-size:1.5rem;
}
.third{
	padding-bottom: 1em;
}
.section-contact{
	min-height:100vh;
}
.section-contact h2{
	text-align:center;
	padding-top:2em;
}
form {
	margin-top:3rem;
	/*background-color:#FFFFFF;*/
	margin-left:auto;
	margin-right:auto;
}

.cred input{
	width:100%;

}
.cred input, .message input{
	margin-bottom: 20px;
	height:50px;
	border: 2px solid var(--accent);
	background-color:var(--background);
	font-family:'Lato';
	color:#01ace9;

}
.message input{
	width: 60%;
	margin-left:auto;
	margin-right:auto;
}
.message input{
	display:block;
	height: 200px;
}
.submit{
	width:60%;
	border: 2px solid var(--accent);
	background-color: var(--background);
	color:var(--accent);
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 50px;
}
.submit:hover{
	background-color: var(--accent);
	color: #fff;
}
h1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	font-weight: 300;
	color: var(--accent);
}