*{
	box-sizing: border-box;
	margin: 0px;
	padding:0px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html, body{
	font-family: 'Roboto Mono';

	font-weight: 300;
	background-color:#101414;
}
body{
	overflow-x:hidden;
}
header{
	height: 100vh;
	width: 100vw;
}

canvas {
	width: 100%;
	height: 100%;

}
section{
	background-image: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)),url("img/nj-statehouse.jpg");
	height:100vh;
	background-position:center;
}

p{
	color:#ebdbb2;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #282828; 
}
 
::-webkit-scrollbar-thumb {
  background: #01ace9; 
}

.sub-heading {
	color: #01ace9;
	text-align: center;
	font-weight: 300;
	margin-top: 1rem;
}
.about-me-text{
    width:60%;
    margin-right: auto;
    margin-left:auto;
}
.section-about{
    padding-top: 4rem;
}